/*body {*/
/*    height: 100vh;*/
/*    background-color: #E6E0BB;*/
/*}*/
/*!* row color *!*/
/*div.row {*/
/*    border: 1px dashed blue;*/
/*}*/
/*!* cell color *!*/
/*div.row > div {*/
/*    border: 1px solid red;*/
/*}*/
/*div.tall-row {*/
/*    height: 300px;*/
/*}*/
body {
    background-attachment: fixed;
    color: #0bffe6;
    background-image: url("img/rocket2.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn-primary {
    color: #0bffe6;
    background-color: #df0772;
}

.main-header {
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 100px;
    display: flex;
    justify-content: center;
    color: #df0772;
}

a:hover {
    background-color: #df0772;
}

.navbar{
    font-family: 'Rubik Moonrocks';
    font-size: 25px;
    color: #fffdff;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Rubik Moonrocks';
    font-size: 25px;
    color: #fffdff;
}

h1, h2 {
   color: #df0772;
    font-family: 'Rubik Moonrocks';
    font-size: 50px;
}

 p {
    color: #0bffe6;
     font-family: 'Rubik Moonrocks';
     font-size: 25px;
}
 form {
     font-family: 'Rubik Moonrocks';
     font-size: 25px;
 }
 .RocketLogo {
     float: left;
 }
 .my-flex {
     display: flex;
     justify-content: space-between;
 }