body {
    height: 100vh;
    /*background-color: moccasin;*/
}
/* row color */
div.row {
    border: 1px dashed blue;
}
/* cell color */
div.row > div {
    border: 1px solid red;
}
div.tall-row {
    height: 300px;
}
/*this is how you override bootstrap classes*/
.btn-purple {
    color: white;
    background-color: #953553;
}
.main-header {
    display: flex;
    justify-content: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
